
    /* html[data-theme=dark] {

    $lighter-color: #212121;
    $darker-color: #f2f2f2;



	body{
		background-color: $lighter-color;
		color:$darker-color;
	}
    blockquote:before {
        background-color: $lighter-color;
    }
} */
